@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-dark: #0f172a;
  --color-card: #1e293b;
}

body {
  background-color: var(--color-dark);
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
